@import "./font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding-inline: 15px;
}
body {
  background-color: #131537;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h3 {
  color: white;
  line-height: 1;
  letter-spacing: 2.5px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
}

.score--wrapper {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-inline: 20px;
  flex-wrap: wrap-reverse;
  gap: 40px;
}
.hidden {
  display: none;
}
.rules {
  position: fixed;
  top: 20%;
  left: 36%;
  right: 40%;
  z-index: 999;
  max-width: 500px;
  width: 100%;

  padding: 20px 40px;
  border-radius: 12px;
  border-radius: none;
  background-color: white;
  .rules--nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  h3 {
    color: blue;
  }
  img {
    margin-left: 40px;
  }
  @media screen and (max-width:800px) {
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 200vh;
    padding: 20% 10%;

  }
} 
.score--counter {
  border: 1px solid gray;
  background-color: white;
  padding: 20px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h5 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 2.5px;
    text-align: left;
    color: blue;
  }
  h3 {
    color: #565468;
    font-size: 50px;
  }
}
.wrapper {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  // border: 10px solid white;
}
.btn--wrapper {
  height: 450px;
  max-width: 80%;
  width: 100%;
  margin-inline: 90px;
  position: relative;

  span {
    position: absolute;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all 1s;
    cursor: grab;
    &:focus {
      outline: none;
    }

    img {
      width: 150px;
      transition: all 0.4s linear;
      border-radius: 50%;

      &:hover {
        box-shadow: 2px 0 15px 15px #ffffff;
      }
    }
    &:active {
      cursor: grabbing;
    }
  }
  @media screen and (max-width: 950px) {
    margin-inline: 20px;
  }
  @media screen and (max-width: 740px) {
    margin-inline: -10px;
  }
  @media screen and (max-width: 470px) {
    margin-inline: -50px;
  }
}

.pap--stan--pos {
  left: 70px;
  top: 40px;
}

.scis--adv--pos {
  left: 40%;
  right: 40%;
  top: -15px;
}

.scis--stan--pos {
  left: 390px;
  top: 40px;
}

.spock--pos {
  top: 72%;
  left: 10%;
}

.rock--stan--pos {
  left: 220px;
  top: 220px;
}
.pap--adv--pos {
  top: 70%;
  left: 72%;
}

.lizard--pos {
  left: 25%;
  bottom: -310px;
}
.rock--adv--pos {
  bottom: -310px;
  left: 58%;
}

.triangle {
  position: absolute;
  z-index: -1;
  left: 140px;
  top: 100px;
  right: 200px;
}
.polygon {
  position: absolute;
  z-index: -1;
  left: 28%;
  right: 35%;
  top: 40%;
}

.d-none {
  display: none;
}

.user {
  top: 50%;
  left: 0%;
}
.comp {
  top: 50%;
  left: 60%;
}

.display--none {
  display: none;
}
.button--wrapper {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  align-items: center;
  place-items: center;
}
button {
  border-radius: 8px;
  padding: 10px 15px;
  color: blue;
  background-color: white;
  border: none;

  margin-block: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  cursor: pointer;
}

.modal--visiable {
  display: block;
}
#rules--close {
  font-size: 24px;
  color: black;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

#res {
  max-width: 200px;
  aspect-ratio: 1/1;
  width: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 30%;
  transition: all 1s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: blue;
    font-size: 45px;
    margin: 10px auto;
  }
  button {
    background-color: blue;
    color: white;
    margin: 0;
  }
  @media screen and (max-width: 1100px) {
    left: 25%;
  }
  @media screen and (max-width: 980px) {
    left: 20%;
    top:60%;
  }
  
}
.d-flex {
  display: flex;
}
.user--pos {
  top: 20%;
  left: 10px;
}
.ans--pos {
  top: 20%;
  left: 60%;
  &::before {
    content: "";
    position: absolute;

    background-color: #fff;
  }

  animation: opacityTimer 2s linear;
}
@keyframes opacityTimer {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.loader {
  position: absolute;
  max-width: 100vw;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  bottom: 0;

  padding-top: 20%;
  padding-left: 45%;
  background-color: #fff;
  z-index: 999;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  top: 50%;
  left: 50%;
  animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #474bff #474bff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 800px) {
  .btn--wrapper {
    span {
      img {
        width: 120px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .scis--stan--pos {
    left: 260px;
  }
  .rock--stan--pos {
    left: 170px;
    top: 180px;
  }
  .triangle {
    width: 250px;
    top: 60px;
    left: 100px;
  }
}

@media screen and (max-width: 540px) {
  .btn--wrapper {
    span {
      img {
        width: 90px;
      }
    }
  }

  .triangle {
    width: 180px;
  }
  .scis--stan--pos {
    left: 220px;
  }
  .rock--stan--pos {
    left: 150px;
    top: 160px;
  }
  h3 {
    font-size: 3 0px;
  }
}
