/* barlow-semi-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-semi-condensed-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-semi-condensed-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 100px auto;
}

body {
  background-color: #131537;
  font-family: "Barlow Semi Condensed", sans-serif;
}

h3 {
  color: white;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
}

.score--wrapper {
  border: 1px solid gray;
  border-radius: 12px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.rules {
  position: fixed;
  top: 20%;
  left: 36%;
  right: 40%;
  z-index: 999;
  max-width: 500px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 12px;
  border-radius: none;
  background-color: white;
}
.rules .rules--nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.rules h3 {
  color: blue;
}
.rules img {
  margin-left: 40px;
}

.score--counter {
  border: 1px solid gray;
  background-color: white;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score--counter h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2.5px;
  text-align: left;
  color: blue;
}
.score--counter h3 {
  color: #565468;
  font-size: 50px;
}

.btn--wrapper {
  height: 200px;
  width: 70%;
  margin-bottom: 300px;
  position: relative;
  margin-left: 80px;
}
.btn--wrapper span {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 1s;
  cursor: grab;
}
.btn--wrapper span:hover {
  box-shadow: 2px 0 25px 25px #ffffff;
}
.btn--wrapper span:active {
  cursor: grabbing;
}

.pap--pos {
  position: absolute;
  left: 40%;
  right: 40%;
  top: 10px;
}

.scis--pos {
  top: 90%;
  left: 17%;
}

.rock--pos {
  top: 90%;
  left: 68%;
}

.spock--pos {
  left: 25%;
  bottom: -310px;
}

.lizard--pos {
  bottom: -310px;
  left: 58%;
}

.triangle {
  position: absolute;
  z-index: -1;
  left: 30%;
  right: 30%;
  transform: rotate(180deg);
}

.polygon {
  position: absolute;
  z-index: -1;
  left: 28%;
  right: 35%;
  top: 40%;
}

.d-none {
  display: none;
}

.user {
  top: 50%;
  left: 0%;
}

.comp {
  top: 50%;
  left: 60%;
}

.display--none {
  display: none;
}

button {
  border-radius: 8px;
  padding: 10px 15px;
  color: blue;
  background-color: white;
  border: none;
  margin-left: 90%;
  margin-block: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  cursor: pointer;
}

.modal--visiable {
  display: block;
}

#rules--close {
  font-size: 24px;
  color: black;
  cursor: grab;
}
#rules--close:active {
  cursor: grabbing;
}

#res {
  max-width: 300px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: #fff;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 40%;
  transition: all 1s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#res h2 {
  color: blue;
  font-size: 45px;
  margin: 10px auto;
}
#res button {
  background-color: blue;
  color: white;
  margin: 0;
}

.d-flex {
  display: flex;
}

.user--pos {
  top: 40%;
  left: 0%;
}

.ans--pos {
  top: 40%;
  right: -20%;
}/*# sourceMappingURL=style.css.map */